/dist/
build/

target
.classpath
.project
.settings
.idea
*.ipr
*.iws
*.iml
*.ids
*.class

*.jar
*.war
*.ear
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
